* {
  box-sizing: border-box;
  margin: 0px
}

body {
  height: 1000px;
  background-color: black;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: greenyellow;
  height: 10%;
}
header h1 {
  font-size: 50px;
}

main {
  display: flex;
  justify-content: space-around;
  background: url("../img/monster-bg.png") no-repeat center center;
  background-size: 60%;
  background-color: black;
  height: 80%;
}

main aside h2 {
  color: greenyellow;
  text-align: center;
  font-size: 30px;
}

main aside p {
  color: greenyellow;
  text-align: center;
}

main aside span {
  font-weight: bold;
}

main aside .player1-art, main aside .player2-art {
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 50px;
  margin: 10px auto 0px auto;
}

main aside img {
  width: 150px;
}

.field-player1, .field-player2 {
  width: 500px;
  height: 100%;
}

.player1-art:hover, .player2-art:hover {
  background-color: rgb(255, 255, 255, 0.1);
}

.game {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.game .modal {
  display: none;
  position: fixed;
  border: greenyellow 2px solid;
  border-radius: 10px;
  width: 200px;
  height: 80px;
  background-color: black;
  color: greenyellow;
}

.game .modal span {
  font-size: 25px;
  margin-left: 175px;
  font-weight: bolder;
  cursor: pointer;
}

.game .modal p {
  font-size: 16px;
  margin: 5px;
  text-align: center;
}

.game .reset-game {
  display: none;
  margin: 10px;
  padding: 15px 50px;
  font-size: 20px;
  font-weight: bold;
  border: greenyellow 3px solid;
  background-color: black;
  color: greenyellow;
  cursor: pointer;
}

.game .reset-game:hover {
  border: green 3px solid;
  color: green;
}

.game .reset-game:active {
 color: greenyellow;
}

#table {
  height: 500px;
  width: 500px;
  display: flex;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.15);
}

.column {
  height: 100%;
}

.cell {
  width: 100%;
  border: 1px solid black;
}

.player1, .player2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.player1 {
  background-color: black;
  border: greenyellow 2px solid;
}

.player2 {
  background-color: greenyellow;
  border: black 2px solid;
}

footer {

}